$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;
$blue: #7541c8;
$gray-600: #48556a;
$gray-100: #ffffff;
$gray-900: #19212e;
$border-radius-lg: 20px;

@import "../node_modules/bootstrap/scss/bootstrap";